<html>

<head>
    <title>Rate it</title>
    <style>
        table {
            border-collapse: collapse;
            text-align: center;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>
                    Album
                </th>
                <th>
                    Name
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Rate
                </th>
            </tr>
        </thead>
        <tbody>
            <% list.forEach(function(track, index){ %>
                <tr>
                    <td>
                        <img src='<%- track.track_image %>' width="100xp" height="100px" />
                    </td>
                    <td>
                        <%- track.track_name %>
                    </td>
                    <td>
                        <%- track.track_artist %>
                    </td>
                    <td>
                        <form id="down" action="/rate" method="post">
                            <input type="hidden" id="track_id" name="track_id" value="<%- track.track_id %>" />
                            <input type="hidden" id="rate_value" name="rate_value" value="-1">
                            <button type="submit">
                                <img src="images/thumb-down.png" width="20dp" height="20dp">
                            </button>
                        </form>
                        <form id="up" action="/rate" method="post">
                            <input type="hidden" id="track_id" name="track_id" value="<%- track.track_id %>">
                            <input type="hidden" id="rate_value" name="rate_value" value="1">
                            <button type="submit">
                                <img src="images/thumb-up.png" width="20dp" height="20dp">
                            </button>
                        </form>

                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <script>
        document.getElementById('up').addEventListener('submit', function (evt) {
            
            var request = $.ajax({
                cache: false,
                url: "/rate",
                data: {
                    'track_id':getElementById('track_id').value(),
                    'rate_value':getElementById('rate_value').value()
                }
            });

        });

        document.getElementById('down').addEventListener('submit', function (evt) {
            
            var request = $.ajax({
                cache: false,
                url: "/rate",
                data: {
                    'track_id':getElementById('track_id').value(),
                    'rate_value':getElementById('rate_value').value()
                }
            });
            request.fail(function (jqXHR, textStatus) {
                console.log(textStatus);
            });

        });
    </script>
</body>

</html>

<!-- track_id: { type: String, unique: true, riquered: true },
track_name: { type: String, required: false },
track_artist: { type: String, riquered: true },
track_image: { type: String, required: true },
track_add_by: { type: String, required: false },
track_like: { type: Number, required: true },
track_dislike: { type: Number, required: true } -->