<html>

<head>
    <title>Rate it</title>
    <style>
        table {
            border-collapse: collapse;
            text-align: center;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>
                    Album
                </th>
                <th>
                    Name
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Rate
                </th>
            </tr>
        </thead>
        <tbody>
            <% list.forEach(function(track, index){ %>
                <tr>
                    <td>
                        <img src='<%- track.track_image %>' width="100xp" height="100px" />
                    </td>
                    <td>
                        <%- track.track_name %>
                    </td>
                    <td>
                        <%- track.track_artist %>
                    </td>
                    <td>
                        <form id="down" action="/rate" method="post">
                            <input type="hidden" id="track_id" name="track_id" value="<%- track.track_id %>" />
                            <input type="hidden" id="rate_value" name="rate_value" value="-1">
                            <button type="submit">
                                <img src="images/thumb-down.png" width="20dp" height="20dp">
                            </button>
                        </form>
                        <form id="up" action="/rate" method="post">
                            <input type="hidden" id="track_id" name="track_id" value="<%- track.track_id %>">
                            <input type="hidden" id="rate_value" name="rate_value" value="1">
                            <button type="submit">
                                <img src="images/thumb-up.png" width="20dp" height="20dp">
                            </button>
                        </form>
                    </td>
                    <td>
                        <% track.track_rates.forEach(function(rate, index){ %>
                            <% if(rate.rate_user_id == user_id ){ %>
                                <span><%- rate.rate_value == 1 ?  'Gostei' : 'Não Gostei' %></span>
                        <% }else{ %>

                        <% }}) %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>